body {
	white-space: pre-line;
	background-color: var(--back-white-mode);
	color: #657b83;
	padding: 20px;
	line-height: 150%;
	font-size: 1.1em;
	font-family: monospace;
}

p {
	color: var(--text);
}