:root {
  --back-white-mode: #edebeb;
  --title: #7eded4;
  --text: #888;
  --text-title: #666;
  --a: #248BD3;
  --b: #000;
  --a-hover: #757372;
  --back-span: #dee1e3;
  --text-span: #D43A85;
}

@media (prefers-color-scheme: dark) {
	/* dark theme */
	:root {
    --back-white-mode: #002B36;
    --title: #7eded4;
    --text: #aaa;
    --text-title: #eee;
    --a: #a6e4ed;
    --b: #fff;
    --a-hover: #dce4e6;
    --back-span: #083642;
    --text-span: #D43A85;
  }
}